<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Ubuntu:wght@300;400;700&display=swap');
body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
}
h1, 
h2,
h3 {
    font-family: 'Lora', serif;
    font-weight: 400;
    color: #143774;
    margin-top: 0;
}
h1{
  font-size: 2rem;
  margin: 0;
}
a {
    color: #1792d2;
}

a:hover,
a:focus {
    color: #143774;
}

strong {
    font-weight: 700;
}
.subtitle{
  font-size: 0.85rem;
  font-weight: 700;
  margin: 0;
  color: #1792d2;
  letter-spacing: 0.05em;
  font-family: 'Ubuntu Bold', sans-serif;
}
.article-title {
    font-size: 1.5rem;
}

.article-read-more,
.article-info {
    font-size: .875rem;
}

.article-read-more {
    color: #1792d2;
    text-decoration: none;
    font-weight: 700;
}
.article-read-more:hover,
.article-read-more:focus {
    color: #143774;
    text-decoration: underline;
}
.article-info {
    margin: 2em 0;
}
header{
  padding: 2em 0;
  text-align: center;
  background: #f0f8ff;
  font-family: sans-serif;
  margin-bottom: 3em;
}
.container-flex{
  max-width: 70vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
nav ul{
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}
nav li{
  margin: 0 1em;
}
nav a{
  text-decoration: none;
  color: #707070;
  font-weight: 700; 
  padding: 0.25em 0;
}

nav a:hover,
nav a:focus{
  color: #143774;
  border-bottom: 1px solid black;
  transition: .3s ease;
}

img{
  max-width: 100%;
  display: block;
}
main{
  max-width: 75%;
}
.article-body{
  width: 100%;
  text-align: justify;
}
.sidebar{
  max-width: 23%;
}
footer {
    background:#143774;
    color: white;
    text-align: center;
    padding: 3em 0;
}
footer a{
  text-decoration: none;
  color: white;
}
footer a:hover{
  text-decoration: underline;
  color: white;
}
@media (max-width:1050px){
  .container-flex{
    flex-direction: column;
  }
  .site-title, .subtitle{
    width: 100%;
  }
  main{
    max-width: 100%;
  }
  .sidebar{
    max-width: 100%;
  }
  
}
@media (max-width: 500px){
  nav ul{
    display: flex;
    flex-direction: column;
  }
  nav li{
    margin: 0.5em 0;
  }
}

/* articles */
.article-featured {
    border-bottom: #707070 1px solid;
    padding-bottom: 2em;
    margin-bottom: 2em;
}
.article-recent {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.article-recent-main {
    order: 2;
}

.article-recent-secondary {
    order: 1;
}

@media (min-width: 675px) {
    .article-recent {
        flex-direction: row;
        justify-content: space-between;
    }
    
    .article-recent-main {
        width: 68%;
    }
    
    .article-recent-secondary {
        width: 30%;
    }
}


  </style>
  <body>
    <!-- header starts -->
    <header>
      <div class='container container-flex'>
        <div class='site-title'>
          <h1>Living The Social Life</h1>
          <p class='subtitle'>A blog exploring minimalism in life.</p>
        </div>
        <nav>
          <ul>
            <li> <a href='#' class='current-page'>Home</a> </li>
            <li> <a href='#'>About Me</a> </li>
            <li> <a href='#'>Recent Posts</a> </li>
          </ul>
        </nav>
      </div>
    </header> 
    <!-- header ends -->
    
    <!-- container starts -->
    <div class="container container-flex">
            <main role="main">
                
                <article class="article-featured">
                    <h2 class="article-title">Computer science</h2>
                    <img src="blogs_image/Foundation Programme in Computer Science (1).jpg" alt="simple white desk on a white wall with a plant on the far right side" class="article-image">
                    <p class="article-info">July 23, 2019 | 3 comments</p>
                    <p class="article-body"> A Bachelor of Science in *Computer Science (BSCS)*   is a complete undergraduate utility designed to provide students with a sturdy foundation in computer era concepts, programming, and numerous regions of computing. Here are some key facts about this gadget:

                        Core Curriculum
                        Fundamentals of Computer Science:
                        
                         Introduction to Computer Science
                        Programming (usually starting with languages like Python, Java, or C )
                        Data Structures and Algorithms
                        Object-Oriented Programming
                        </p>
                    <a href="#" class="article-read-more">CONTINUE READING</a>
                </article>
                
                <article class="article-recent">
                    <div class="article-recent-main">
                        <h2 class="article-title">syllabus </h2>
                        <p class="article-body">Mathematics:
                            Calculus
                            Linear Algebra
                            Discrete Mathematics
                            Probability and Statistics <br>
                            Theoretical Computer Science: <br>
                            
                            Theory of Computation
                            Automata Theory
                            Computational Complexity <br>

                            Systems:
                            
                            Operating Systems
                            Computer Architecture
                            Networks and Communications
                            Databases <br>
                            Software Engineering: <br>

                            
                            Software Development Life Cycle <br>
                            Project Management
                            Quality Assurance
                            Human-Computer Interaction
                            Elective Courses <br>
                            
                            Students can pick out from a number of electives to specialise in regions of hobby, consisting of: <br>
                            
                            Artificial Intelligence and Machine Learning <br>
                            Data Science and Big Data Analytics <br>
                            Cybersecurity <br>
                            Game Development <br>
                            Web Development <br>
                            Mobile Application Development <br>
                            Cloud Computing <br>
                            Robotics <br>
                            Computer Graphics <br>
                            Practical Experience <br>
                            Labs and Projects: <br>
                            
                            Hands-on lab training
                            Individual and enterprise responsibilities
                            Capstone venture in the final 12 months, often concerning actual-worldwide trouble-solving
                        
                            </p>
                        <a href="#" class="article-read-more">CONTINUE READING</a>
                    </div>
                    <div class="article-recent-secondary">
                        <img src="blogs_image/Earth Layers White Transparent, Blue Earth Science And Technology Computer Layered Material, Material, Blue, Blue Creative PNG Image For Free Download.jpg">
                        <p class="article-info">July 19, 2019 | 3 comments</p>
                    </div>
                </article>
                
                <article class="article-recent">
                    <div class="article-recent-main">
                        <h2 class="article-title">research oppurtunity </h2>
                        <p class="article-body">ome programs offer possibilities to take part in research responsibilities below college supervision.
                            Skills Acquired <br>
                            Proficiency in more than one programming  <br>
                            Problem-solving and analytical questioning  <br>
                            Understanding of software development methodologies <br>
                            Knowledge of laptop systems and community structure <br>
                            Ability to format and implement algorithms <br>
                            Familiarity with database control <br>
                            Skills in mission management and teamwork
                            </p>
                        <a href="#" class="article-read-more">CONTINUE READING</a>
                    </div>
                    <div class="article-recent-secondary">
                        <img src="blogs_image/tech.jpg">
                        <p class="article-info">July 12, 2019 | 3 comments</p>
                    </div>
                </article>
                
                <article class="article-recent">
                    <div class="article-recent-main">
                        <h2 class="article-title">Career Opportunities</h2>
                        <p class="article-body">Graduates with a BS in Computer Science are prepared for a whole lot of roles, together with:

                            Software Developer/Engineer <br>
                            Data Scientist/Analyst <br>
                            Systems Analyst <br> 
                            Network Administrator <br>
                            Cybersecurity Analyst <br>
                            AI/ML Engineer <br>
                            Web Developer <br>
                            Mobile App Developer <br>
                            IT Consultant <br>
                            Research Scientist <br>
                            Graduate Study
                            </p>
                        <a href="#" class="article-read-more">CONTINUE READING</a> <br>
                        <!-- <a href="#" class="article-read-more">top uni</a> -->
                         <button style="font-size: 35px; align-items: center; justify-content: center;
                         ">TOP UNIVERSITIES</button>
                        
                    </div>

                    <div class="article-recent-secondary">
                        <img src="blogs_image/career1.jpg">
                        <p class="article-info">July 3, 2019 | 3 comments</p>
                    </div>
                </article>
            </main>
            
            <aside class="sidebar">
                
                <div class="sidebar-widget">
                    <h2 class="widget-title">ABOUT ME</h2>
                    <img src="blogs_image/https://raw.githubusercontent.com/kevin-powell/reponsive-web-design-bootcamp/master/Module%202-%20A%20simple%20life/img/about-me.jpg" alt="john doe" class="widget-image">
                    <p class="widget-body">I find life better, and I'm happier, when things are nice and simple.</p>
                </div>
                
                <div class="sidebar-widget">
                    <h2 class="widget-title">RECENT POSTS</h2>
                    <div class="widget-recent-post">
                        <h3 class="widget-recent-post-title">Keeping cooking simple</h3>
                        <img src="blogs_image/download 1.jpg" class="widget-image">
                    </div>
                    <div class="widget-recent-post">
                        <h3 class="widget-recent-post-title">Simplicity and work</h3>
                        <img src="blogs_image/download2.jpg" alt="a chair white chair at a white desk on a white wall" class="widget-image">
                    </div>
                    <div class="widget-recent-post">
                        <h3 class="widget-recent-post-title">Simple decorations</h3>
                        <img src="blogs_image/download3.jpg" alt="a green plant in a clear, round vase with water in it" class="widget-image">
                    </div>
                </div>
                
            </aside>
            
        </div>
    <!-- container ends -->
    
    <!-- footer starts -->
    <footer>
      <p><strong>Living the Simple Life</strong></p>
      <p>Copyright 2021, <a href='akramnarejo.github.io' target='_blank'>Akram Narejo</a></p>
      
    </footer>
    <!-- footer ends -->
    
  </body>
</html>