<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/buttons.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" id="animated_elem" href="css/animated_elem.css">
    <!-- owl carousel -->
     <link rel="stylesheet" href="modules/OwlCarousel/owl.carousel.min.css">

     <!-- <link rel="stylesheet" href="../OwlCarousel/assets/owl.theme.default.css"> -->
     <link rel="stylesheet" href="modules/OwlCarousel/owl.theme.default.min.css">
     <!-- MAGNIFY CSS LINKS -->
</head>
<body id="body">
    
    <!-- Navbaar start -->
        <div class="nav-1" id="nav1">
            <img src="images/WHATSNEXT.png" alt="" class="logo">
            <ul class="ul-1">
                <li id="li-1">
                    <a class="hover-this" id="a-1" href="/university">Universities</a>
                </li>
                  <li id="li-1">
                    <a class="hover-this" id="a-1" href="/councelling">Councelling</a>
                </li>
                <li id="li-1">
                    <a class="hover-this" id="a-1" href="/faq">Faq </a>
                </li>
                <li  id="li-1">
                    <a class="hover-this" id="a-1" href="/contact">Contact</a>
                </li>
                <li id="li-1">
                    <a class="hover-this" id="a-1" href="/login">Login</a>
                </li>
            </ul>
           
           
             <button class="searchbtn" id="showInfo"><i class="fa-solid fa-magnifying-glass" onmouseleave="anim(this)" onclick="anim1(this)"></i></button>
         </div>
        
         <div class="nav2" id="nav2">
            <h2 id="logo2">WhatNext?</h2>
            <ul id="ul-2">
                <li id="li-2">
                    <a href="" class="hover-this" id="a-2">Scholarships</a>
                </li>
                <li id="li-2">
                    <a href="" class="hover-this" id="a-2">Upcoming Events</a>
                </li>
                <li id="li-2">
                    <a href="" class="hover-this" id="a-2">Consultation</a>
                </li>
                <li id="li-2">
                    <a href="" class="hover-this" id="a-2"> Mentors</a>
                </li>
            </ul>
            
            <!-- <button class="searchbtn" id="showInfo"><i class="fa-solid fa-magnifying-glass" onmouseleave="anim(this)" onclick="anim1(this)"></i></button>
         -->
        </div> 
   
         <!-- <div class="banner">
            <h2 id="ban-h2">WhatNext?</h2>
            <p id="para1" >
                <h1 id="para-h1">Get Answers. Find  mentors 
                </h1> 
                <h2 id="parah2">Take your Step!</h2>
                <p id="bannerpara" class="threeD"> What How When
                    all this in one, get in touch for future nearing next <br>
                       Avail scholarships. Find best institautes.  secure your future !
                </p>
            </p>
         </div>
        </div>
                           
        <button id="bannerbtn1">Login</button> 
        <button id="bannerbtn2">Free trial</button>
          
    </div> -->
    <div class="video_section" id="section_video">
        <video autoplay muted>
            <source src="./animated/our project.mp4" type="video/mp4">
 
<p>Sorry, your broswer doesn't support embedded videos.</p>
        </video>
    </div>
    <div class="main" id="main">
        <input type="text" placeholder="PRESS 'RETURN' TO SEARCH.....">
    </div>
    <div class="section2" id="section2">
        <h2 class="heading">
            <span id="span1">Level up your Mentoring relationship.</span>
            <br>
            <span id="span2">
                <strong>Get trained and certified in Mentoring. </strong>
            </span>
        </h2>
        <p class="para">
            People with mentors are happier at their current jobs than those without, which is why we gear all content for the development of the mentee. Our training is based upon humanistic psychology, with courses and techniques curated from thirty years of applied mentoring experience. Using this proven methodology, mentees are more likely to engage, find meaning within their career, and be transformed through an empathetic and supportive relationship with the mentor.
        </p>
        <button class="mentor-btn"><span>FIND A MENTOR</span></button>
    </div>


    <footer class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>company</h4>
                    <ul>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">our services</a></li>
                        <li><a href="#">privacy policy</a></li>
                        <li><a href="#">affiliate program</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>get help</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">shipping</a></li>
                        <li><a href="#">returns</a></li>
                        <li><a href="#">order status</a></li>
                        <li><a href="#">payment options</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>online shop</h4>
                    <ul>
                        <li><a href="#">watch</a></li>
                        <li><a href="#">bag</a></li>
                        <li><a href="#">shoes</a></li>
                        <li><a href="#">dress</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
   </footer>
    <!-- section 3 starts here -->
     <div class="section3">
        <h1 class="features">
            FEATURES
        </h1>
        <div class="section3-main" id="section3-main">
            <div class="left" id="section3-left">
                <img src="./images/image.webp" alt="">
            </div>
            <div class="right" id="section3-right">
                <h2>Talk face to face on 1:1 video calls</h2>
                <div class="points">
                    <div class="point">
                        <img src="" alt="">
                        <p>
                            Talk in real time on 1:1 video calls and get the advice and direction you need, when you need it.
                        </p>
                    </div>
                    <div class="point">
                        <img src="" alt="">
                        <p>
                            Share your challenges in a safe and confidential environment and carve out a path to success.
                        </p>
                    </div>
                    <div class="point">
                        <img src="" alt="">
                        <p>
                            Whether you’re looking for help fundraising, acquiring users, or developing tactical sales skills, an expert is here to help.
                        </p>
                    </div>
            
                   
                </div>
            </div>
        </div>
     </div>

     
     <!-- section4 starts here -->
     <div class="section4" id="section4">
        <div class="section4-main">
          
            <div class="left">
                <h2 class="section4-heading">Message your mentor
                </h2>
                <div class="points">
                    <div class="point">
                        <img src="./icons/message.svg" alt="">
                       <p>Send messages before and after your calls. Access your messages at any time from your desktop or mobile device.</p>
                    </div>
                    <div class="point">
                        <img src="./icons/upload.svg" alt="">
                        <p>Share an agenda with topics to discuss or upload files for review. Set milestones and discuss progress between calls.</p>
                    </div>
                    <div class="point">
                        <img src="./icons/secure.svg" alt="">
                        <p>Mentorcam keeps everything on one platform so your conversation is always safe and secure.</p>
                    </div>
                </div>
            </div>
            <div class="right">
                <img src="./images/message.webp" alt="" id="section4-img-scale">
            </div>
        </div>
    </div>
            <!-- section6 starts  -->
            <div class="section6-top" id="section6-top">
                <div class="section6">
                    <div class="owl-carousel owl-theme carosel">
                        <div class="div1 item">
                           <div class="img-magnifier-container">
                            <img src="./images/person2_review.webp" alt="" class="img" id="myimage">
                            
                           </div>
                            <h1 class="review">I like the mentor ship of websie because of the mentor and the services</h1>
                            <span class="name">Sagar chopra</span>
                            <span class="work">Cofounder,Empower Sleep</span>
                            <center><button class="button">READ MORE</button></center>
                        </div>
                        <div class="owl-carousel owl-theme carosel">
                            <div class="div1 item">
                               <div class="img-magnifier-container">
                                <img src="./images/person1.webp" alt="" class="img" id="myimage1">
                                
                               </div>
                                <h1 class="review">I like the mentor ship of websie because of the mentor and the services</h1>
                                <span class="name">Sagar chopra</span>
                                <span class="work">Cofounder,Empower Sleep</span>
                                <center><button class="button">READ MORE</button></center>
                            </div>
                    </div>
                </div>
            
               </div>
               </div>
    <div class="section4-space" id="section4-space"></div>
    <div class="section5" id="section5">
        <div class="section5-main" id="section5_main">
            <div class="left" id="section5-left">
                <h2 class="heading"> Get advice from the
                    world’s BEST mentors</h2>
                    <p>Book 1:1 calls with founders and leaders of
                        the world’s best startups and brands.</p>
                        <button class="mentor-btn"><span>FIND A MENTOR</span></button>
            </div>
            <div class="right" id="section5-right">
                <div class="content">
                    <img src="./images/person1.webp" alt="">
                    <div class="info">
                        <h2>CHRIS YEAH</h2>
                        <p>Lorem, ipsum dolor.</p>
                        <img src="./images/company.svg" alt="">
                    </div>
                </div>
            </div>
            </div>
        </div>

    <!-- section5 - space -->
    <div class="section5 section5-alt" id="section5">
        <div class="section5-main" id="section5-alt-main">
            <div class="left" id="section5-left">
                <h2 class="heading"> Get advice from the
                    world’s BEST mentors</h2>
                    <p>Book 1:1 calls with founders and leaders of
                        the world’s best startups and brands.</p>
                        <button class="mentor-btn"><span>FIND A MENTOR</span></button>
            </div>
            <div class="right" id="section5-right">
                <div class="content">
                    <img src="./images/person1.webp" alt="">
                    <div class="info">
                        <h2>CHRIS YEAH</h2>
                        <p>Lorem, ipsum dolor.</p>
                        <img src="./images/company.svg" alt="">
                    </div>
                </div>
            </div>
            </div>
    </div>
    <!-- <div class="reviews">
        <div class="div1"></div>
        <div class="div2"></div>
        <div class="div3"></div>



    </div> -->
    

      <span id="stop">true</span>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.10/SmoothScroll.min.js" integrity="sha512-HaoDYc3PGduguBWOSToNc0AWGHBi2Y432Ssp3wNIdlOzrunCtB2qq6FrhtPbo+PlbvRbyi86dr5VQx61eg/daQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="js/navbar.js"></script>
      <!-- <script src="../OwlCarousel/owl.carousel.js"></script> -->
      <script src="modules/OwlCarousel/owl.carousel.min.js"></script>
      
      <script>
        var body = document.getElementById("body");
        var z = true;
         var scrollVal = true;
      $(document).ready(function(){
        $('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    
    responsive:{
        0:{
            items:1
        },
        600:{
            items:1
        },
        1000:{
            items:1
        }
    }
})
      });
      function scroll(){
        var stop = document.getElementById("stop");
      
      $(window).scroll(function(){
        if(stop.innerHTML == "true"){
        $(".section6-top").css("top", $(window).scrollTop()+"px");
        $(".footer").css("top",$(window).scrollTop()+"px");
        z=true;
    }else if(z == true){
        var footer = document.getElementById("footer");
var footer_pos = footer.getBoundingClientRect();
var footer_top_pos = footer_pos.bottom;
if(footer_top_pos-window.innerHeight <= 0){
    body.style.height = $(window).scrollTop()+"px";
    console.log(document.getElementById("body"))
    z=false;
}
// console.log($(window).scrollTop()+"imp")
    }
        
    })
       
}
scroll();


// var section6_top = document.getElementById("section6-top");
// var position = section6_top.getBoundingClientRect();
// var bottomPosition = position.bottom;
// $(window).scroll(function(){
// console.log(bottomPosition)
// });
      </script>
      <script src="js/animation.js"></script>
    
      
</body>
</html>
