<!DOCTYPE html>
<html>
<head>
	<!-- ******* Link To The Style Sheet ******* -->
	<link rel="stylesheet" type="text/css" href="css/universities.css">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Resume</title>
</head>
<body>
<div class="container">
	
	<main class="row">
		
		<!--   *******  Education Section Starts  *******   -->

		<section class="col">
			
			<header class="title">
				<h2>TOP UNIVERSITIES</h2>
			</header>

			<div class="contents">
				
				<div class="box">
					<h4>2018 - 2022</h4>
					<h3>ABC UNIVERSITY</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
				</div>

				<div class="box">
					<h4>2018 - 2022</h4>
					<h3>ABC UNIVERSITY</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
				</div>

				<div class="box">
					<h4>2018 - 2022</h4>
					<h3>ABC UNIVERSITY</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
				</div>

			</div>
		</section>

		<!--   *******  Education Section Ends  *******   -->

		<!--   *******  Experience Section Starts  *******  -->

		<section class="col">
			
			<header class="title">
				<h2>TOP COLLEGES</h2>
			</header>

			<div class="contents">
				
				<div class="box">
					<h4>2018 - 2022</h4>
					<h3>ABC COLLEGE</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
				</div>

				<div class="box">
					<h4>2018 - 2022</h4>
					<h3>ABC COLLEGE</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
				</div>

				<div class="box">
					<h4>2018 - 2022</h4>
					<h3>ABC COLLEGE</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
				</div>

			</div>
		</section>

		<!--   *******  Experience Section Ends   *******  -->
	</main>
</div>
</body>
</html>